/* .Sidebar {
  width: 10vw;
  height: 100vh;
  background-color: #567fad;
}

.Sidebar__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
} */

/* .Sidebar__link {
} */

/* .Sidebar__link.Sidebar__link--home {
}

.Sidebar__link.Sidebar__link--login {
}

.Sidebar__link.Sidebar__link--about {
}

.Sidebar__link.Sidebar__link--vault {
} */
